<div class="itemElement" data="{{json .}}">
    <span class="itemText notItemImage">{{quantity}}</span>
    <select class="itemDropdown notItemImage">
    </select>
    <img class="itemImage" src="sprites/{{img}}" alt={{name}}/>
    <span class="itemText notItemImage">{{name}}</span>

</div>
