<div class="itemElement" data="{{json .}}">
    <input type="text" class="quantityInput" >{{price}}</input>
    <img class="itemImage" src="sprites/{{img}}" alt={{name}}/>
    <span class="itemTitle">{{name}}</span>
    
</div>
