<tr class="itemElement" data="{{json .}}">
    {{#if @root.items}}
        <td class="changeInPrice" ></td>
    {{/if}}
    <td class="itemText moneyText">${{price}}</td>

    <!-- Because of crazy handlebars scoping, you can't see if the parent array is defined unless you do this stupid shit -->
    {{#if @root.items}}
        <td class="itemText itemAmount">{{quantity}}</td>
        <td><select class="itemDropdown quantityInput" min="0" max ="1000000" ></select></td>
    {{else}}
        <td><input class="itemBuyInput quantityInput" type="number" ></input></td>
    {{/if}}


    <td><img class="itemImage" src="sprites/{{img}}" alt={{name}}/></td>
    <td class="itemText itemDesc">{{name}}</td>
</tr>
