<tr class="itemElement" data="{{json .}}">
    <td class="itemText itemAmount">{{quantity}}</td>
    <td><select class="itemDropdown"></select></td>
    <td><img class="itemImage" src="sprites/{{img}}" alt={{name}}/></td>
    <td class="itemText itemDesc">{{name}}</td>
</tr>
