<aside id="sidebar" >
    <div class="titleParent">
        <h1>{{name}} </h1>
    </div>
    <div>Total Earnings: <span class="moneyText" >${{totalEarnings}}</span></div>
    <div>Current bank: <span class="moneyText" >${{cash}}</span></div>
    <div>Global Rank: {{rank}}</div>
    <div>User since: {{start}}</div>
</aside>
